#nav{
    height:80px;
    background-color: blue;
}
#img{
    margin-top: 10px;
    margin-left: 20px;
}
/* #ul{
    margin-left:auto;
}
#ul li{
    margin-left: auto;
} */
#ul li a {
    font-size:1.3rem;
}
