.background_img {
    background-image: url(./../../Components/Assets/images/bg-1.jpg) 
    
  }
  
  .btn {
      background-color: whitesmoke !important;
      /* color: black; */
    }
    
    .paddingtitle {
      padding-top: 15px;
    }

